.cuadrado{
    background-color: transparent;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9.5rem;
    width: 9.5rem;
    margin: 0.2rem;
    cursor: pointer;
    color: white;
    font-size: 5rem;
    border-radius: 10px;
}
.cuadrado.seleccionado{
    background-color: tomato;
}